<mat-card *ngIf="employee">
    <mat-card-title appHighlight>
        {{employee.employee_name}}
    </mat-card-title>
    <mat-card-content>
        <mat-divider></mat-divider>
        <div class="mat-body-1">
            <mat-card-subtitle>
            <mat-icon> monetization_on</mat-icon>Salary
            
        </mat-card-subtitle>
        </div>
        <div class="mat-body-2">
            {{employee.employee_salary | currency: 'USD'}}&nbsp;
        </div>
        <mat-divider></mat-divider>
        <div class="mat-body-1">
        <mat-card-subtitle>
        <mat-icon>person</mat-icon>
            Age
        </mat-card-subtitle>
        </div>
        <div class="mat-body-2">
            {{employee.employee_age | ageLabel}}&nbsp;
        </div>
        <mat-divider></mat-divider>
    </mat-card-content>
</mat-card>