<mat-card>
    <mat-card-content class="scrollbar">
        <mat-table [dataSource]="employees">
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="employee_name">
                <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.employee_name}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="employee_salary">
                <mat-header-cell *matHeaderCellDef>Salary</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.employee_salary}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="employee_age">
                <mat-header-cell *matHeaderCellDef>Age</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.employee_age}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="details">
                <mat-header-cell *matHeaderCellDef>Details</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <a mat-button color="primary" routerLink="/employee/{{row.id}}">DETAILS</a>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="['id', 'employee_name', 'employee_salary', 'employee_age', 'details']">
            </mat-header-row>
            <mat-row
                *matRowDef="let row; columns: ['id', 'employee_name', 'employee_salary', 'employee_age', 'details']">
            </mat-row>
        </mat-table>
    </mat-card-content>
</mat-card>